body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.semaforo {
    width: 100px;
    margin: 0 auto;
}

.luz {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: gray;
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: yellow;
}

.vermelho {
    background-color: red;
}
